@import "~bootstrap/scss/bootstrap";

body {
    background-image: radial-gradient(circle at 1px 1px, #E2E3E5 2px, #F3F4F6 0 );
    background-size: 40px 40px;
}
.app-container {
    min-height: calc(100vh - 61px - 57px);
}
