@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    img {
        @apply inline-block;
    }
}
.theme-indigo{
    --clr-50: theme('colorComponents.indigo-50');
    --clr-100: theme('colorComponents.indigo-100');
    --clr-200: theme('colorComponents.indigo-200');
    --clr-300: theme('colorComponents.indigo-300');
    --clr-400: theme('colorComponents.indigo-400');
    --clr-500: theme('colorComponents.indigo-500');
    --clr-600: theme('colorComponents.indigo-600');
    --clr-700: theme('colorComponents.indigo-700');
    --clr-800: theme('colorComponents.indigo-800');
    --clr-900: theme('colorComponents.indigo-900');
    --clr-950: theme('colorComponents.indigo-950');
}

.theme-blue{
    --clr-50: theme('colorComponents.blue-50');
    --clr-100: theme('colorComponents.blue-100');
    --clr-200: theme('colorComponents.blue-200');
    --clr-300: theme('colorComponents.blue-300');
    --clr-400: theme('colorComponents.blue-400');
    --clr-500: theme('colorComponents.blue-500');
    --clr-600: theme('colorComponents.blue-600');
    --clr-700: theme('colorComponents.blue-700');
    --clr-800: theme('colorComponents.blue-800');
    --clr-900: theme('colorComponents.blue-900');
    --clr-950: theme('colorComponents.blue-950');
}

.theme-amber{
    --clr-50: theme('colorComponents.amber-50');
    --clr-100: theme('colorComponents.amber-100');
    --clr-200: theme('colorComponents.amber-200');
    --clr-300: theme('colorComponents.amber-300');
    --clr-400: theme('colorComponents.amber-400');
    --clr-500: theme('colorComponents.amber-500');
    --clr-600: theme('colorComponents.amber-600');
    --clr-700: theme('colorComponents.amber-700');
    --clr-800: theme('colorComponents.amber-800');
    --clr-900: theme('colorComponents.amber-900');
    --clr-950: theme('colorComponents.amber-950');
}

.theme-teal{
    --clr-50: theme('colorComponents.teal-50');
    --clr-100: theme('colorComponents.teal-100');
    --clr-200: theme('colorComponents.teal-200');
    --clr-300: theme('colorComponents.teal-300');
    --clr-400: theme('colorComponents.teal-400');
    --clr-500: theme('colorComponents.teal-500');
    --clr-600: theme('colorComponents.teal-600');
    --clr-700: theme('colorComponents.teal-700');
    --clr-800: theme('colorComponents.teal-800');
    --clr-900: theme('colorComponents.teal-900');
    --clr-950: theme('colorComponents.teal-950');
}

.theme-stone{
    --clr-50: theme('colorComponents.stone-50');
    --clr-100: theme('colorComponents.stone-100');
    --clr-200: theme('colorComponents.stone-200');
    --clr-300: theme('colorComponents.stone-300');
    --clr-400: theme('colorComponents.stone-400');
    --clr-500: theme('colorComponents.stone-500');
    --clr-600: theme('colorComponents.stone-600');
    --clr-700: theme('colorComponents.stone-700');
    --clr-800: theme('colorComponents.stone-800');
    --clr-900: theme('colorComponents.stone-900');
    --clr-950: theme('colorComponents.stone-950');
}

.theme-rose{
    --clr-50: theme('colorComponents.rose-50');
    --clr-100: theme('colorComponents.rose-100');
    --clr-200: theme('colorComponents.rose-200');
    --clr-300: theme('colorComponents.rose-300');
    --clr-400: theme('colorComponents.rose-400');
    --clr-500: theme('colorComponents.rose-500');
    --clr-600: theme('colorComponents.rose-600');
    --clr-700: theme('colorComponents.rose-700');
    --clr-800: theme('colorComponents.rose-800');
    --clr-900: theme('colorComponents.rose-900');
    --clr-950: theme('colorComponents.rose-950');
}

[x-cloak] { display: none !important; }
.prose .hljs {
    @apply bg-transparent;
}
.grecaptcha-badge {
    visibility: hidden;
}
.prose{
    a{
        @apply font-semibold underline text-clr-600 hover:text-clr-400
    }
    th, td{
        @apply p-3
    }
    th{
        @apply bg-gray-100 dark:bg-gray-700/50
    }
    th p, td p{
        @apply m-0
    }
    table{
        @apply border mt-1.5 dark:border-gray-700
    }
    img{
        @apply m-0 w-full rounded-md shadow-[0px_0px_6px_-3px_rgba(0,0,0,0.7)];
    }
    code[data-backticks]{
        @apply bg-clr-50 text-clr-700 p-1 rounded font-semibold dark:bg-clr-900/50 dark:text-clr-100
    }
    pre{
        @apply text-base
    }
}
.shiki.nord{
    background-color:#282c34;
    color:#abb2bf
}

.adsbygoogle{
    @apply my-6 text-center
}
